/* CSS reset by Josh Comeau (https://www.joshwcomeau.com/css/custom-css-reset/) */
/*
  I've tweaked it a little bit, since not all the things
  in the reset were necessary for this exercise.
*/

@font-face {
  font-family: "FigTree";
  src: url("/assets/fonts/static/Figtree-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype"),
    url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
    url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh; /* fallback value */
  min-height: 100dvh;

  background-color: var(--yellow);
  /* just for the sake of centering for the exercise */
  display: grid;
  place-items: center;

  font-family: "FigTree", serif;
}

/*
  5. Improve media defaults
*/
img,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom styles */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  --fw-500: 500;
  --fw-800: 800;
}

.card {
  --_margin-inline: 2rem;
  border: 1px solid var(--black);
  border-radius: 1em;
  padding: 1.5em;
  background-color: var(--white);
  width: min(calc(100% - var(--_margin-inline)), 400px);
  box-shadow: 8px 10px 0 var(--black);
  transition: box-shadow 500ms ease-in-out;
}

.card:has(.card__body h2:hover) {
  box-shadow: 20px 15px 0 var(--black);
}

.card * + * {
  margin-top: 1em;
}

.card__header img {
  width: 100%;
  border-radius: 0.7em;
}

.card__header .tag {
  background-color: var(--yellow);
  display: inline-block;
  padding: 0.25em 1em;
  border-radius: 0.2em;
  font-weight: var(--fw-800);
  margin-top: 1.5em;
}

.card__body h2 {
  font-weight: var(--fw-800);
  transition: color 500ms ease-in-out;
}

.card__body h2:hover {
  cursor: pointer;
  color: var(--yellow);
}

.card__body p {
  color: var(--grey);
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1.5em;
}

.card__footer img {
  width: 40px;
}

.card__footer .author {
  margin-top: 0;
  font-weight: var(--fw-800);
}

.attribution a {
  text-decoration: none;
  box-shadow: inset 0 -0.1em 0 0;
  transition: all 500ms ease-in-out;
}

.attribution a:hover {
  box-shadow: inset 0 -1.2em 0 0 var(--black);
  color: var(--yellow);
}
